<div class="container-flex">
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h4>Geographic Category</h4>
            </div>
            <div class="col-sm-12 col-md-7">
                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group">
    
                                <input kendoTextBox style="width: 275px;" class="form-control" id="inlineFormInputGroup" placeholder="Geographic Category Name">
                                <button type="submit" class="btn btn-primary mb-2  input-group-prepend" kendoButton
                                    [icon]="'search'"></button>
                            </div>
                        </div>
                        <div class="col-auto mb-2">
                            <kendo-dropdownlist [data]="actionItems" [textField]="'actionName'" [valueField]="'actionId'"
                                [defaultItem]="actionItemPlaceholder">
    
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    <span class="template">{{ dataItem.actionName }}</span>
                                </ng-template>
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    <span class="template">{{ dataItem?.actionName }}</span>
                                </ng-template>
    
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    <kendo-grid [data]="gridData" [selectable]="selectableSettings" [height]="500">
        <kendo-grid-checkbox-column [width]="50"></kendo-grid-checkbox-column>
        <kendo-grid-column field="UnitsInStock" title="Code" ></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name" [width]="200"></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Geographic Type"></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Reporting Purpose"></kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="Record Year" ></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Entity" [width]="200"></kendo-grid-column>
        <kendo-grid-column title="Actions" [width]="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button type="button" class=" btn-primary mr-1" kendoButton [icon]="'add'" (selectedChange)="showAddGeographyCategoryForm($event)" [toggleable]="true"></button>
                <button type="button" class=" btn-secondary mr-1" kendoButton [icon]="'edit'"></button>
                <button type="button" class=" btn-success" kendoButton [icon]="'delete'"></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>


    <div  class="container-flex mb-4" *ngIf="!hideAddGeographyCategoryForm">
        <div class="container-fluid mb-4">
            <div class="mt-3">
                <h5>Add Geographic Category</h5>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <label>Geographic Category Code</label>
                              <input kendoTextBox class="form-control">
                            </div>
                            <div class="col">
                                <label>Geographic Category Name</label>
                              <input kendoTextBox class="form-control" >
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <label>Geographic Type</label>
                              <input kendoTextBox class="form-control">
                            </div>
                            <div class="col">
                                <label>Reporting Purpose</label>
                              <input kendoTextBox class="form-control">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <label>Record Year</label>
                              <input kendoTextBox class="form-control">
                            </div>
                            <div class="col">
                                <label>Entity</label>
                              <input kendoTextBox class="form-control">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary mb-2 mt-2 mr-2" kendoButton
                                    >Save</button>
                                    <button type="submit" class="btn btn-primary mb-2 mt-2" kendoButton
                                    (click)="showAddGeographyCategoryForm()">Cancel</button>
                            </div>
                          </div>
                      </form>
                </div>
            </div>
        </div>
        

    </div>
</div>
