<header class="container-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="left-side">

              </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
               <span class="header-title">{{headerTitle}}</span>
            </div>
            <div class="col-sm-12 col-md-4">
                <kendo-buttongroup class="pull-right">
                    <button class="header-right-button" kendoButton [look]="'outline'" [icon]="'question'"></button>
                    <button class="header-right-button" kendoButton [look]="'outline'" [icon]="'logout'"></button>
                </kendo-buttongroup>
            </div>
        </div>
    </div>
</header>