header{
    height: auto;
    display: block;
    padding: 15px 0;
    background: #000e5e;
    
    .header-title {
        font-size: 25px;
        color:#fff;
    }

    .left-side {
        background: #003a9a;
        height:40px;
    }
    .pull-right{
        float: right;
    }
    
}
.header-right-button {
    border: none !important;
    background: none;
    margin: 0 5px;
    
    span {
        font-size: 30px;
        color: #fff;
    }
}
.header-right-button:hover {
    background: none !important;
}