my-app { padding: 0; }

kendo-drawer-content { padding: 20px; }

kendo-drawer-container {
    position: fixed;
    width: 100%;
    height: 100%;
    
}

kendo-drawer-content{
    height: 100%;
    overflow-x: scroll;
}
.k-drawer-wrapper {
    height:100%;
   background-image: linear-gradient(#3f92cd, #fff);
}

.k-drawer-item {
   display: block !important;
}
.drawer-header {
    margin: 10px;
    display: flex;
    box-shadow: 2px 2px 5px #333333 !important;
}
.drawer-toogler {
    position: absolute;
    top:50%;
    width: 20px;
    margin-left: -20px;
    height: 80px;
    box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.15) !important;
    font-size: 24px;
    background-color: #fff;
}
.draw-header-title {
    font-size: 18px;
    padding: 0 0 0 20px;
    margin-top: 5px;  
}
.custom-drawer-plus{
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
}
.custom-drawer-minus{
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
}
.custom-drawer-link {

  .k-icon {
    font-size:25px;
 }
 .link-text {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 17px;
 }
}
.dropdown-menu {
    margin: .5rem 1rem !important;
    padding: .5rem 1rem !important;
    color: #000 ;
    background: #fff !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.open {
    height: max-content;
    opacity: 1;
}
.dropdown-menu a {
    color: #000
}

.submenu {
  padding: 0 0 0 25px !important ;
}

.si-hide {
    display: none !important;
}

.si-show {
    display: block  !important;
}
