<app-header></app-header>
<kendo-drawer-container>
  <kendo-drawer class="shadow mb-5" #drawer
      [items]="items"
      [width]="300"
      [mode]="'push'"
      [(expanded)]="expanded"
      [autoCollapse]="false"
      (select)="onSelect($event)"
  >
  <ng-template kendoDrawerHeaderTemplate>
    <div class="drawer-header p-2 mb-3 bg-white " *ngIf="expanded" style="text-align: center;">
      <kendo-buttongroup>
        <button class="custom-drawer-plus" kendoButton [icon]="'plus'" (click)="showAllSubmenu()"></button>
        <button class="custom-drawer-minus" kendoButton  [icon]="'minus'" (click)="hideCurrentOpenSubmenu()"></button>
      </kendo-buttongroup>
      <span class="draw-header-title">Application Menu</span>
    </div>
</ng-template>
  <ng-template kendoDrawerItemTemplate let-item> 
          <div *ngIf="!showAllSubmenuBoolean">
            <div class="custom-drawer-link" [routerLink]="item.path" *ngIf="item.children.length == 0">
              <span class="k-icon {{item.icon}}"></span>  
              <span class="link-text">{{ item.text }}</span>
            </div> 
            <div class="custom-drawer-link" *ngIf="item.children.length > 0">
              <span class="k-icon {{item.icon}}"></span>  
              <span class="link-text">{{ item.text }}</span>
              <span [ngClass]="(item.showSubmenu == true)  ? 'k-icon k-i-arrow-60-up' : 'k-icon k-i-arrow-60-down'"></span>
            </div> 
            <ul [ngClass]="(item.showSubmenu == true) ? 'submenu si-show' : 'submenu si-hide'">
              <li class="submenu-item" *ngFor="let subitem of item.children">
                <div class="custom-drawer-link" tabindex="-1" (click)="gotoUrl(item.path,subitem.path)" *ngIf="!subitem.hasOwnProperty('redirectTo')">
                  <span class="link-text">{{subitem.text}}</span>
                </div>
              </li>
            </ul>
          </div>
          
          <div *ngIf="showAllSubmenuBoolean">
            <div class="custom-drawer-link" [routerLink]="item.path" *ngIf="item.children.length == 0">
              <span class="k-icon {{item.icon}}"></span>  
              <span class="link-text">{{ item.text }}</span>
            </div> 
            <div class="custom-drawer-link" *ngIf="item.children.length > 0">
              <span class="k-icon {{item.icon}}"></span>  
              <span class="link-text">{{ item.text }}</span>
              <span class="k-icon k-i-arrow-60-up"></span>
            </div> 
            <ul class="submenu si-show">
              <li class="submenu-item" *ngFor="let subitem of item.children">
                <div class="custom-drawer-link" tabindex="-1" (click)="gotoUrl(item.path,subitem.path)" *ngIf="!subitem.hasOwnProperty('redirectTo')">
                  <span class="link-text">{{subitem.text}}</span>
                </div>
              </li>
            </ul>
          </div>
      </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
    <button kendoButton class="drawer-toogler" *ngIf="!expanded" icon="arrow-chevron-right"  (click)="drawer.toggle()"></button>
    <button kendoButton class="drawer-toogler" *ngIf="expanded" icon="arrow-chevron-left" (click)="drawer.toggle()"></button>
      <router-outlet></router-outlet>
  </kendo-drawer-content>
</kendo-drawer-container>